.property-bg {
    background: url('C:\Users\Sandaru Vihanga\Desktop\react\Skyline estates\react\src\assets\home\propertyback.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  .card {
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    object-fit: cover;
  }
  
  .form-control {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .btn-success {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .btn-danger {
    width: 48%;
    margin-bottom: 5px;
  }
  
  .me-1 {
    margin-right: 1%;
  }
  
  @media (max-width: 767.98px) {
    .btn-danger {
      width: 100%;
      margin-bottom: 5px;
    }
  }